@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


$bg_couleur: #222222;

$couleur_inscription : #ee9c0e;

$white: #FFFFFF;

@mixin taille($height, $width){
	height: $height;
	width: $width;
}



body{

		background-color: $bg_couleur;
		background-image: url(img/swot-classes.jpeg);
    	background-repeat:no-repeat;

		form {
		  position:relative;
		  margin: 50px auto;
		  @include taille(auto,380px);

			 h2 {
			 color:$couleur_inscription ;
			 margin-left:12px;
			 margin-top: 200px;

			
			}

			input {
			  padding: 16px;
			  border-radius:7px;
			  border:0px;
			  background: rgba(255,255,255,.2);
			  display: block;
			  margin: 15px;  
			  color:$white;
			  font-size:18px;
			  @include taille(54px,300px);

				&:focus {
				  outline-color: rgba(0,0,0,0);
				  background: rgba(255,255,255,.95);
				  color: $couleur_inscription;
				}  
			}

			button {
			  float:right;
			  border: 0px;
			  background: $couleur_inscription;
			  border-radius:7px;
			  padding: 10px;
			  color:white;
			  font-size:22px;
			  @include taille(260px,50px);
			}

		}

		.inputUserIcon {
		  position:absolute;
		  top:68px;
		  right: 80px;
		  color:$white;
		}

		.inputPassIcon {
		  position:absolute;
		  top:136px;
		  right: 80px;
		  color:$white;
		}


		input::-webkit-input-placeholder {
		  color: $white;
		}

		input:focus::-webkit-input-placeholder {
		  color: $couleur_inscription;
		}

		.footer{
			margin-top: 300px;
		}


		.trait{
			background-color:  $couleur_inscription;
			margin-left: 180px;
			margin-right: 180px;
			margin-bottom: 20px;
			margin-top: 50px;
			@include taille(1px,1550px);
			
		}


		p{
		font-size: 8px;
		color: $white;
		position: center;
		margin-left: 200px;
		margin-right: 200px;
		text-align: center;
		}


		.reseau_sociaux{
			position: center;
			margin: 50px;

		}
			.facebook{
				position: center;
			    margin: 1%;
			    display: inline;
			    margin-left: 10%;
			    	&:hover{
			    	opacity: 0.5;
					}
			}
			.twitter{
			    display: inline;
				    &:hover{
				    opacity: 0.5;
					}
			}

		.center{
			position: center;
		}

}







