@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


$bg_couleur: #000000;

$couleur_inscription : #ee9c0e;

$white: #FFFFFF;

@mixin taille($height, $width){
	height: $height;
	width: $width;
}

@font-face {
    font-family: "Ma_Super_Fonte";
    src: url('Starjout.ttf');
}


body{

		background-color: $bg_couleur;

		.swtor_logo{	
		position: absolute;
		text-align: center;
		z-index: 2;
		}


		.img_droite{
			position: absolute;
			margin-left: 1250px;

		}

		.img_gauche{
			position: absolute;
			margin-left: 50px;
			z-index: 1;
		}

		form {

		  position:relative;
		  margin: 50px auto;
		  @include taille(auto,380px);
		  z-index: 2;

			 h2 {
			 color:$couleur_inscription ;
			 margin-left:12px;
			 padding-top: 300px;
			}

			h4{
			 color:$couleur_inscription ;
			 margin-left:250px;
			 	&:hover{
			 		opacity: 0.8;			 	}
			}

			input {
			  padding: 16px;
			  border-radius:7px;
			  border:0px;
			  background: rgba(255,255,255,.2);
			  display: block;
			  margin: 15px;  
			  color:$white;
			  font-size:18px;
			  @include taille(54px,300px);

				&:focus {
				  outline-color: rgba(0,0,0,0);
				  background: rgba(255,255,255,.95);
				  color: $couleur_inscription;
				}  
			}

			button {
			  float:right;
			  border: 0px;
			  background: $couleur_inscription;
			  border-radius:7px;
			  padding: 10px;
			  color:white;
			  font-size:22px;
			  @include taille(260px,50px);

			  &:hover{
			  	opacity: 0.8;
			  }
			}

		}

		.inputUserIcon {
		  position:absolute;
		  top:68px;
		  right: 80px;
		  color:$white;
		}

		.inputPassIcon {
		  position:absolute;
		  top:136px;
		  right: 80px;
		  color:$white;
		}


		input::-webkit-input-placeholder {
		  color: $white;
		}

		input:focus::-webkit-input-placeholder {
		  color: $couleur_inscription;
		}

		.footer{
			margin-top: 300px;

			p{
				margin-left: 200px;
				margin-right: 200px;
			}
		}


		.trait{
			background-color:  $couleur_inscription;
			margin-left: 180px;
			margin-right: 180px;
			margin-bottom: 20px;
			margin-top: 50px;
			@include taille(1px,1550px);
			
		}


		p{
		font-size: 8px;
		color: $white;
		position: center;
		text-align: center;
		}


		.reseau_sociaux{
			position: center;
			margin: 50px;

		}
			.facebook{
				position: center;
			    margin: 1%;
			    display: inline;
			    margin-left: 10%;
			    	&:hover{
			    	opacity: 0.5;
					}
			}
			.twitter{
			    display: inline;
				    &:hover{
				    opacity: 0.5;
					}
			}

		.center{
			position: center;
		}

}

		

		.visuel{
			position: absolute;
			margin-top: 25px;
			margin-left: 150px;
			.nom_classe{
				margin-left: -750px;
				margin-top: -50px;
				p{
				font-size: 30px;
				color: $couleur_inscription;
				font-family:  "Ma_Super_Fonte";
				}
			
			}	
		}
		
		.slide_inside {
			width: 980px;
			margin: 0 auto;
		}


		#slide1 {
			height: 800px;
			padding-top:200px;
			background:url(img/classes_all.jpg) center 0 no-repeat fixed;

			 .slide_inside {
			text-align:center;
    		font-family:  "Ma_Super_Fonte";
    		font-size: 75px;
    		color: $couleur_inscription;
    		background-color: rgba(0, 0, 0, 0.8);
		}
	
		}

		#slide2 {
			height: 300px;
			padding-top:100px;
			background: url(img/republique.png) center 0 no-repeat;
		}

		#slide3 {
			height: 500px;
			background: url(img/bleu.png) center 0 no-repeat ;

			.slide_inside {
			background-color: rgba(0, 0, 0, 0.2);
			border: solid;
			border-color: $couleur_inscription;
			border-radius: 20px;
			padding-top:100px;
			margin-top:150px;
			padding:10px;
			margin-left: 700px;
			display: inline-block;
				p{
					font-size: 16px;
					text-align: justify;
				}
			
			}

			
		}



		
	

		 








