@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

body .swtor_logo {
  position: absolute;
  text-align: center;
  z-index: 2;
}

body .img_droite {
  position: absolute;
  margin-left: 1250px;
}

body .img_gauche {
  position: absolute;
  margin-left: 50px;
  z-index: 1;
}

body form {
  position: relative;
  margin: 50px auto;
  height: auto;
  width: 380px;
  z-index: 2;
}

body form h2 {
  color: #ee9c0e;
  margin-left: 12px;
  padding-top: 300px;
}

body form h4 {
  color: #ee9c0e;
  margin-left: 250px;
}

body form h4:hover {
  opacity: 0.8;
}

body form input {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 15px;
  color: #FFFFFF;
  font-size: 18px;
  height: 54px;
  width: 300px;
}

body form input:focus {
  outline-color: transparent;
  background: rgba(255, 255, 255, 0.95);
  color: #ee9c0e;
}

body form button {
  float: right;
  border: 0px;
  background: #ee9c0e;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
  height: 260px;
  width: 50px;
}

body form button:hover {
  opacity: 0.8;
}

body .inputUserIcon {
  position: absolute;
  top: 68px;
  right: 80px;
  color: #FFFFFF;
}

body .inputPassIcon {
  position: absolute;
  top: 136px;
  right: 80px;
  color: #FFFFFF;
}

body input::-webkit-input-placeholder {
  color: #FFFFFF;
}

body input:focus::-webkit-input-placeholder {
  color: #ee9c0e;
}

body .footer {
  margin-top: 300px;
}

body .trait {
  background-color: #ee9c0e;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 20px;
  margin-top: 50px;
  height: 1px;
  width: 1550px;
}

body p {
  font-size: 8px;
  color: #FFFFFF;
  position: center;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

body .reseau_sociaux {
  position: center;
  margin: 50px;
}

body .facebook {
  position: center;
  margin: 1%;
  display: inline;
  margin-left: 10%;
}

body .facebook:hover {
  opacity: 0.5;
}

body .twitter {
  display: inline;
}

body .twitter:hover {
  opacity: 0.5;
}

body .center {
  position: center;
}

#slide1, #slide2, #slide3 {
  height: 1000px;
  padding-top: 100px;
}

#slide1 {
  background: url(img/image1.jpg) center 0 no-repeat fixed;
}

#slide2 {
  background: url(img/image2.jpg) center 0 no-repeat fixed;
}

#slide3 {
  background: url(img/classes_all.jpg) center 0 no-repeat fixed;
}

/* Gestion du contenu */
.slide_inside {
  width: 980px;
  margin: 0 auto;
}

#slide1 .slide_inside {
  text-align: center;
}

#slide2 .slide_inside p {
  width: 500px;
  text-align: justify;
}

#slide3 .slide_inside {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  padding: 50px;
}
